extends ./layout.jade
block title
block content

  h1 Here is Your Quote:
  h2 #{company} stock is #{price} per share. 
  form(method='POST')
    .form-group
      label Message
      input(type='subtextarea', name='message', placeholder='Message')
      input(type='submit', value='Contact Us')
